aenum==3.1.15
brotlipy==0.7.0
certifi==2024.7.4
cffi @ file:///home/builder/ci_310/cffi_1642753365720/work
charset-normalizer==2.0.12
cryptography @ file:///home/builder/ci_310/cryptography_1640808721005/work
docopt==0.6.2
docutils==0.21.2
ffpyplayer==4.5.1
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
iris==1.0.7
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy-garden.mapview==1.0.6
mapview==1.0.6
msgpack==1.0.8
packaging==24.1
pipreqs==0.5.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.18.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.1.2
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-can==4.3.0
requests==2.32.4
typing_extensions==4.1.1
urllib3==2.6.0
wrapt==1.13.3
yarg==0.1.9
